*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  font-family: 'Assistant', sans-serif;
  color: #CDCFDD;
	background: #414450;
}
a {
	color: #CDCFDD;
	text-decoration: none;
}
a:hover, a:focus {
	color: #FFF;
}
.container > header {
  margin: 0 auto;
	padding: 2em;
	text-align: center;
	background: #2D2F3A;
}
.container > header h1 {
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}
.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}
.related {
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 3em;
}
/*Components*/
.component {
  line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
}
.tabs {
  /*max-width: 400px;*/
  margin: 40px auto;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group > li > a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color:#a0b3b0;
  font-size:20px;
  float:left;
  width:50%;
  text-align:center;
  cursor:pointer;
  transition:.5s ease;
}
.tab-group > li > a:hover {
  background: rgba(26, 177, 136, 0.75);
  color: #fff;
}
li.tab.active a {
  background: #1ab188;
  color: #fff;
}
.tab-content > div:last-child {
  display:none;
}
.img-valign {
  vertical-align: middle;
  text-align: left;
  margin-right: 0.3em;
  width: 16px;
  height: 16px;
}
th > span {
  margin-left: 1em;
}
table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #414450;
}
thead {
  font-size: 0.8em;
}
/*.table-sticky > thead span {
  display: block;
}*/
td, th {
    font-weight: 400;
    padding: 0.75em 1.5em;
    text-align: center;
}
  td.err {
    background-color: rgba(243,86,86,0.92);
    color: #fff;
    font-size: 0.75em;
    text-align: center;
    line-height: 1;
  }
  td.bullish {
    color: #6DD9AE;
  }
  td.bearish {
    /*color: rgba(243,86,86,0.92);*/
    color: #FB667A;
  }
  td.bestrate {
    background-color: rgba(120, 126, 148, 0.4);
    /*background-color: #4D5363;
    font-weight: bold;

    box-shadow: #343743 -1px 1px, #343743 -2px 2px, #343743 -3px 3px, #343743 -4px 4px, #343743 -5px 5px, #343743 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
    transition-timing-function: line;*/
  }
th {
    background-color: #4D5363;
    font-weight: 400;
    color: #CDCFDD;
    white-space: nowrap;
}
tbody th {
	background-color: #4C5160;
  font-size: 0.8em;
}
tbody tr:nth-child(2n-1) {
    background-color: #3A3D48;
    transition: all .125s ease-in-out;
}
/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 3em 0;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color: #343743;
			color: #CDCFDD;
      /*height: 66px;*/
    }
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}
/* Not needed for sticky header/column functionality */
td.user-name {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 85vh;
}
