/* Base styles that apply to all menus */
.menu-section {
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid hsl(0, 0%, );
}
.menu {
	background: #343743;
	color: #848aa2;
	font-size: 16px;
}
.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.menu li a {
	/*display: block;*/
	color: #787E94;
	text-decoration: none;
	padding: .6em 1em;
}
.menu li a:hover {
	/*background: hsl(0, 0%, 25%);*/
	/*background: #31323F;
  color: white;*/
}
