#fx-header {
  background: #414450;
  padding: 0.125em 0.625em;
}
.table-title {color: white;}
.table-timestamp {color: #787E94; text-transform: uppercase; font-size: 0.725em;}
@media screen and (max-width: 44.44em) {
  .table-title, .table-timestamp {width: 100%; text-align: center;}
  .table-title {margin: 1em auto 5px;}
  .table-timestamp {margin: 5px auto;}
}
